/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 10px;
}

input {
    width: 97%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f2f4f6;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    input {
        padding: 8px;
        font-size: 12px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container {
        margin: 10px;
        padding: 10px;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    input {
        padding: 6px;
        font-size: 12px;
    }

    button {
        padding: 6px 12px;
        font-size: 12px;
    }
}
/*footer

/* Basic styling for the footer */
footer {
    background-color: rgb(36, 33, 33); /* Black background */
    color: white; /* White text color */
    text-align: center; /* Center-align the text */
    padding: 20px 0; /* Add some padding */
    position: fixed; /* Fixed position at the bottom */
    width: 100%; /* Full width */
    bottom: 0; /* Stick to the bottom */
    left: 0; /* Align to the left */
}

/* Styling for the links */
footer a {
    color: white; /* White text color for links */
    text-decoration: none; /* Remove underline */
    margin: 0 15px; /* Add spacing between links */
    font-size: 16px; /* Set font size */
}

/* Hover effect for links */
footer a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Styling for the logo */
.footer-logo {
    width: 65px; /* Set logo width */
    height: 20px; /* Set logo height */
}
